# Node (Mimic functions)
node_modules/

# Mimic function build artifacts
mimic-functions/*/build/
*.wasm
*.wasm.br

# env / secrets
.env
.env.*
mimic-functions/*/scripts/.env

# Editor/IDE
# .idea/
# .vscode/
